APP_NAME=Test Configuration Service
APP_ENV=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
APP_LOG_LEVEL=INFO
APP_CORS_ORIGINS=["*"]
AWS_REGION=ap-south-1
DYNAMODB_ENDPOINT_URL=
DYNAMODB_TABLE_PREFIX=test-config
API_V1_PREFIX=/api/v1

